nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

h5 {
    display: flex;
    justify-content: center;
    padding: 1%;
}

.destacados {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}

.destacados ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
}

footer ul {
    display: flex;
    flex-direction: row;
    text-align:center;
    list-style-type: none;
    justify-content: space-between;

}